{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 Chrome versions",
            "last 2 Firefox versions",
            "last 2 iOS versions",
            "last 2 edge versions"
          ]
        },
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    ["transform-react-jsx", { "pragma":"preact.h" }],
    "transform-object-rest-spread"
  ]
}